@charset 'UTF-8';

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: whitesmoke;
}

header {
    background-color: #0e0e0e;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}

main{
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #0e0e0e;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    bottom: 0;
}