@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');



body{
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: whitesmoke;
}

header {
    font-family: Sekuya, sans-serif;
    background-color: #0e0e0e;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}

header a{
    font-family: Rubik Gemstones, cursive;
    color: whitesmoke;
    text-decoration: none;
    margin: 0 5px;
    background-color: #282828;
    padding: 8px;
    border-radius: 10px 10px 10px 10px;
}

main{
    text-align: center;
    padding: 20px;
}

#imagedesc{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    columns: 2;
}


img{
    max-width: auto;
    height: auto;
    border-radius: 15px 15px 15px 15px;
}

#img1:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

#img1:not(:hover){
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#desc{
    text-align: left;
}

footer {
    background-color: #0e0e0e;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    bottom: 0;
}